body {
  background-color: white;
  color: black;
}
.temperature-display {
  background-color: rgb(129, 18, 55);
  height: 500px;
  width: 340px;
  position: relative;
  left: 45%;
  top: 180px;
  border-radius: 20px;
  border: 4px solid black;
}
.temperature {
  text-align: center;
  font-size: 40px;
  color: white;
  position: relative;
  top: 40%;
  border: 4px solid white;
  border-radius: 80px;
}
button {
  width: 30px;
  border-radius: 30px;
  color: white;
  background-color: gray;
  font-size: 30px;
  margin: 60px;
  position: relative;
  top: 200px;
}
.hot {
  background-color: red;
}
.cold {
  background-color: rgba(15, 15, 193, 0.786);
}
body {
  background-color: rgb(66, 36, 42);
}
